@import url("https://fonts.googleapis.com/css?family=Poppins:200,400,500,700");

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background-color: #fdfdfd;
  font-family: "Poppins", sans-serif;
}
.text-card{
  max-width: 85%;
}
.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}
.brand-logo {
  display: flex;
  align-items: center;
  font-size: 1.25em;
  color: black;
  text-decoration: none;
}
.top-bar {
  display: flex;
  width: 100vw;
  margin-bottom: 5vh;
  justify-content: space-between;
}
.info-top {
  display: flex;
}
.avatar-top {
  width: 10%;
  float: left;
  margin-right: 10px;
}
.left-ngambang {
  float: left;
}
.nav-text {
  margin-left: 1rem;
  font-size: 1.5em;
  font-weight: 700;
  color: #66c8ff;
}
.nav-main ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav-main a {
  color: black;
  text-decoration: none;
  padding: 1rem;
}
.nav-main a:hover {
  color: #adadad;
}
.img-wrapper img {
  width: 53vw;
  transform: translate(7vw,0vw);
}
.home-wrapper {
  height: 100vh;
}
.home-flex{
  display: flex;
}
.text-home {
  margin-left: 1vw;
  margin-top: 35vh;
}
.home-100{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.text-blue{
  color: #3a3a3a;
}
.flex {
  display: flex;
}
.flex i{
  margin-left: 2vw;
  color: #777;
  margin-right: 5vw;
}
.text-home h5 {
  font-size: 1.5rem;
  font-weight: 400;
}
.text-home h1 {
  font-size: 2.5rem;
}
.btn-custom {
  background-color: #1864A0;
  color: white;
  margin-top: 2vw;
  margin-bottom: 2vw;
}
.sembilan5 {
  width: 95%;
}
.full {
  width: 100%;
}
.btn-custom:hover {
  color: white;
}
.card-login {
  width: 30vw;
  height: 100vh;
  background-color: white;
  border: none;
  border-right: 1px solid #adadad;
}
.login {
  overflow: hidden;
  height: 100vh;
}
.label-form {
  margin-top: 10px;
  margin-bottom: 0;
}
.lupa {
  color: black;
}
.login-img-wrapper img {
  width: 130%;
  overflow: hidden;
  transform: translate(-20%, -10%);
}
.brand-login {
  display: flex;
  width: 100%;
}
.logo-login {
  display: flex;
}
.ml-login {
  margin-left: 5%;
  margin-right: 5%;
}
.brand-login img {
  width: 3vw;
  height: 3.5vw;
}
.brand-text {
  color: #66c8ff;
  font-size: 2em;
  margin-left: 10px;
  font-weight: 500;
}
.back-login {
  margin: 50px 20px;
  color: black;
}
.back-login:hover {
  color: #adadad;
}
.login-head {
  margin-top: 2vw;
}
.sidebar {
  width: 20vw;
  height: 100vh;
  background-color: white;
  border-right: 1px solid #adadad;
  float: left;
  position: fixed;
}
.logo-card {
  width: 10%;
  height: fit-content;
  border-radius: 10px;
  float: left;
  padding-top: 0.4vw;
}
.logo-card-2 {
  width: 10%;
  height: fit-content;
  border-radius: 10px;
  float: left;
  padding-top: 0.4vw;
}
.shadow {
  box-shadow: 3px 3px 5px #adadad;
}
.identitas {
  width: 100%;
  text-align: center;
}
.barcode {
  width: 15vw;
}
.logout {
  width: 15vw;
  margin-left: 2vw;
  margin-bottom: 2vw;
}
.identitas p {
  font-size: 2vw;
}
.profilku-img {
  width: 10vw;
  border-radius: 50%;
  float: left;
}
.white {
  background-color: white;
}

.logo-card img {
  width: 4vw;
}
.logo-card-2 img {
  width: 3vw;
}
.darkblue {
  background-color: rgb(78, 132, 206);
}
.brand-side {
  display: flex;
}
.brand-side img {
  width: 2vw;
  height: 2.3vw;
  margin-right: 1vw;
}
.side-text {
  font-size: 1.3rem;
  font-weight: 500;
  justify-content: center;
  align-self: center;
  color: #66c8ff;
}
.action-btn {
  float: right;
}
.btn-act {
  border: solid #66c8ff 2px;
  background-color: transparent;
  padding: 10px 10px;
  border-radius: 5px;
  color: #66c8ff;
}
.btn-act:hover {
  color: white;
  background-color: #66c8ff;
}
.catatan {
  margin-top: 13vh;
}
.konten {
  margin-left: 21vw;
  padding-top: 2vw;
  margin-right: 2vw;
}
.card-custom {
  width: 100%;
  height: fit-content;
  border-radius: 15px;
  padding: 2vw;
  margin-bottom: 2vw;
}
.huruf-abu {
  color: #727272;
}
.card-catatan {
  width: 32%;
  height: fit-content;
  border-radius: 15px;
  padding: 2vw;
  margin-left: 10px;
  margin-bottom: 2vw;
}
.head-dash {
  display: flex;
  margin-left: -2.3vw;
}
.head-dash ul {
  display: flex;
  list-style: none;
}
.identitas-wrapper {
  margin: -1vw 7vw;
  padding: 3vw 0vw;
}
.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.profil {
  width: 33%;
}
.profilku h6 {
  margin: 0;
  margin-left: 5vw;
  padding-bottom: 0.2vw;
  font-size: 1vw;
  color: white;
  font-weight: 400;
  padding-left: 0.5vw;
  border-bottom: 1px solid yellow;
  width: 6vw;
}
.tengah {
  text-align: center;
}
.kecil {
  font-size: 0.8rem;
}
.profilku p {
  margin: 0;
  margin-left: 5vw;
  font-size: 1.2vw;
  color: white;
  font-weight: 200;
  margin-top: 0.3vw;
}
.head-dash a {
  color: black;
  text-decoration: none;
}
.absen-type {
  margin: auto;
  margin-top: -7vw;
  width: 33%;
}
.absen-type h4 {
  text-align: center;
}
.ceklis-absen {
  float: right;
  width: 10vw;
  margin-top: -13vw;
}
.absen-type p {
  text-align: center;
}
.absen .profil-foto {
  width: 6vw;
  margin-top: 1.9vw;
  border-radius: 15px;
  float: left;
}
.absen-mingguan-img {
  width: 5vw;
  float: right;
  margin-top: -7vw;
}
.container-scroll{
  width: 100%;
  max-height: calc(20% - 100px);
  overflow-y: auto;
}
.textarea-custom{
  width: 100%;
  height: 300px;
  padding: 10px 10px;
  margin:20px 0;
  font-size: 0.8rem;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.container-scroll li{
  list-style-type: none;
  margin: 10px 0px;
}
.pop-act{
  height: 100vh;
  overflow: hidden;
}
.kerjaan-img {
  float: right;
  width: 11vw;
  margin-top: -8vw;
}

.peringatan-img {
  float: right;
  width: 8vw;
  margin-top: -8vw;
}

.izin {
  float: right;
  color: #fcb400;
  font-size: 0.8rem;
}
.izin ul{
  list-style: none;
}
.center{
  text-align: center;
  align-items: center;
  align-self: center;
  align-content: center;
  justify-content: center;
}
.center img{
  width: 30vw;
}
.red-huruf{
  color: #fc0000;
}
form .input-icon{position:relative;}
form,form .input-icon{width:100%;}

form input+i{
  position:absolute;
  left:10px;
  top:10px;
  color:#777;
}

form>div:last-child{
  display:inline-block;
  width:100%;
}
 
form input:focus+i{color:#0099ff;}
.cari-widget{
  display: flex;
  float: right;
  margin-top: -6vh;
  margin-right: 2vw;
}
.cari-input{
  width: 15vw;
  padding-top: 7px;
  padding-bottom:7px;
  padding-left: 34px; 
  border: solid 1px #adadad ;
  border-radius: 15px;
  font-size: 13px;
}
.tombol-atur{
  width: fit-content;
  height: fit-content;
  padding: 3px 8px;
  font-size: 13px;
  text-decoration: none;
  border-radius: 10px;
  float: right;
  background-color: white;
  color: #51abff;
}
.tidak-masuk {
  float: right;
  color: #fc0000;
  font-size: 0.8rem;
}
.tidak-masuk ul{
  list-style: none;
}
.masuk-btn {
  float: right;
  color: #0082fc;
  font-size: 0.8rem;
}
.masuk-btn ul{
  list-style: none;
}
.masuk-btn a{
  text-decoration: none;
}
.masuk-btn li:hover {
  color: #000000;
}
.izin li:hover {
  color: black;
}
.absen p {
  margin: 0;
  font-size: 1vw;
}
.head-dash .active {
  color: #66c8ff;
}
.head-dash a:hover {
  color: #66c8ff;
  text-decoration: none;
}
.head-dash li {
  margin-right: 1vw;
  display: flex;
  justify-content: flex-start;
}
.garis-none a {
  text-decoration: none;
  color: #1b1b1b;
}
.garis-bawah {
  width: 33.3%;
  margin-bottom: 1vw;
  border: solid #adadad 2px;
}
.mt-1vw {
  margin-top: 1vw;
}
.flex h6{
  margin: 0 1vw;
  color: #777;
  margin-top: -0.8vw;
}
.blue {
  background-color: #c9d5ff;
}
.red {
  background-color: #fbb2b2;
}
.welcome h5 {
  color: #ff7a00;
}
.welcome p {
  max-width: 50%;
  font-size: 1vw;
  margin-bottom: 0;
}
.welcome img {
  width: 15vw;
  float: right;
  margin-top: -13vw;
}
.foot {
  margin-top: 5px;
  font-size: 0.8vw;
}
.yellow {
  background-color: #fff0c9;
}
.m-side {
  padding: 3vw;
}
.side-main ul {
  list-style: none;
}
.side-main a {
  text-decoration: none;
  color: gray;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}
.side-main li:hover {
  color: darkgray;
}
.side-main a:hover {
  color: darkgray;
}
.side-main li {
  margin: 1vw 0;
  margin-left: -3vw;
  text-align: left;
}
.side-main {
  margin-top: 3vw;
  color: gray;
}
/* Popup Style */
.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  
  display: none;
  align-items: center;
  justify-content: center;
}

.popup-container.active {
  display: flex;
}
.detail-kerjaan {
  max-width: 70%;
}
.brand-logo img {
  width: 3vw;
}
.disable {
  display: none;
}
.verif{
  padding: 10px 20px;
  width: 100vw;
  background-color: red;
  color: white;
}
.verif p{
  margin: 0;
}
.noner a{
  display: block;
}
.nonez{
  display: none;
}

.popup {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  padding: 2rem;
  position: relative;
  width: 60%;
}
.txt-small {
  font-size: 1vw;
}
.head-pop h1 {
  margin: 0;
  font-size: 1.5rem;
  color: black;
}
.head-pop p {
  margin: 0;
  font-size: 0.8rem;
  color: black;
}
.float-right{
  float: right;
}
.none{
  display: none;
}
/* End Popup Style */

/* FLOATING MENU */
.float-menu {
  width: fit-content;
  background-color: black;
  border-radius: 40px;
  position: fixed;
  bottom: 0;
  height: fit-content;
  margin: 20px auto;
  display: none;
}
.popup {
  max-height: calc(100vh - 100px);
  overflow-y: auto;
}
.float-menu i {
  margin: 15px 20px;
  color: white;
}
/* END FLOATING MENU */
